.portfolio #portfolio-flters li,.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active{

    background: #00c8fff6   !important;
    
}

.portfolio #portfolio-flters a{
    color:rgb(255, 255, 255);
    background: #00c8fff6   !important;

}

.portfolio #portfolio-flters li:hover a {
    color:rgb(251, 177, 57);

}

.portfolio #portfolio-flters li.filter-active a{
    color:rgb(250, 210, 123)!important;
}